
@font-face {
  font-family: "Roboto-Light";
  src: local("Roboto"),
  url("../fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-LightItalic";
  src: local("Roboto"),
  url("../fonts/Roboto-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto"),
  url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Thin";
  src: local("Roboto"),
  url("../fonts/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-ThinItalic";
  src: local("Roboto"),
  url("../fonts/Roboto-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  src: local("Roboto"),
  url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-BoldItalic";
  src: local("Roboto"),
  url("../fonts/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Medium";
  src: local("Roboto"),
  url("../fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-MediumItalic";
  src: local("Roboto"),
  url("../fonts/Roboto-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Black";
  src: local("Roboto"),
  url("../fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-BlackItalic";
  src: local("Roboto"),
  url("../fonts/Roboto-BlackItalic.ttf") format("truetype");
}
