.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  border: 1px solid #CACACA;
  border-radius: 4px;
  padding: 2px;
  margin: 0 0 20px 50px;
  background: none;

  &:hover {
    cursor: pointer;
    border: 1px solid black;
  }
}
