.products {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  column-gap: 40px;
  row-gap: 20px;
  height: 500px;
  margin: 0 50px 10px 50px;
  overflow-y: scroll;

  .product {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    background-color: gainsboro;
    padding: 8px;
    width: 250px;
    height: 300px;

    &__icon {
      width: 100%;
      height: 100%;
      background: indianred;
      margin-bottom: 10px;
    }

    &__price {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    &__brand {
      font-size: 14px;
      font-weight: 400;
    }

    &__model {
      font-size: 16px;
      font-weight: 400;
    }
  }
}
