.header {
  width: 100%;
  height: 40px;
  background: black;
  margin: 0;
  padding: 0;

  &__text {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
  }


  &__items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    svg {
      color: #FFFF;
      margin-right: 8px;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px 0 10px;
    cursor: pointer;
    border: none;
    background: none;

    &:hover {
      background: #2796ff;
    }

    &--money {
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      padding: 0 10px 0 10px;
      background-color: #f93c00;
      margin-right: 10px;
      cursor: pointer;
      border: none;

      &:hover {
        background: #2796ff;
      }

    }

  }
}
