.navbar {
  display: flex;
  width: 100%;
  height: 90px;
  align-items: center;
  justify-content: space-between;


  &__nav {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #888888;
    margin-left: 12px;

  }

  &__logo {
    background-color: black;

    svg {
      background-color: black;
    }
  }

  &__right-items {
    display: flex;
    flex-direction: row;
    margin-right: 32px;
  }

  &__login {
    border: none;
    background: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #888888;
    cursor: pointer;

    &:hover {
      color: #000000;
    }
  }

  &__trash {
    border: none;
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    cursor: pointer;

    &:hover {
      svg {
        color: #000000;
      }
    }

    svg {
      margin-right: 4px;
      color: #888888;
    }
  }

}
