.sidebar {
  &__menu {
    display: flex;
    flex-direction: column;
  }

  .sidebar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    cursor: pointer;

    &__product {
      font-weight: 500;
      font-size: 14px;
      color: black;

      padding: 10px;
      margin: 0;
    }

    &__count {
      font-weight: 500;
      font-size: 12px;
      color: gray;
    }
  }
  
}

