.footer {
  width: 100%;
  height: 100%;
  background: black;
  color: white;

  .footer-send {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;

    align-self: center;

    &__header {
      font-size: 18px;
      font-weight: 600;
      line-height: 20px;
      color: white;
      text-align: start;
    }

    &__form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__terms {
      font-size: 14px;
      font-weight: 400;
      color: white;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .footer-info {
    display: flex;
    flex-direction: row;
  }

  .help-container {

    &__title {
      font-size: 18px;
      font-weight: 700;
      margin-left: 40px;
    }

    &__text {
      list-style-type: none;
      font-size: 14px;
      line-height: 30px;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        color: #888888;
      }

    }
  }

  .about-container {
    display: flex;
    flex-direction: column;
    margin-left: 60px;

    &__title {
      font-size: 18px;
      font-weight: 700;
    }

    &__icons {
      display: flex;
      flex-direction: row;
    }

    &__icon {
      width: 20px;
      height: 20px;
      border: 1px solid gray;
      border-radius: 8px;
      margin-top: 20px;
      background: #f93c00;

      &:not(:first-child) {
        margin-left: 10px;
      }
    }

    &__text {
      font-size: 14px;
      font-weight: 500;
      margin-top: 20px;
      cursor: pointer;

      &:hover {
        color: #888888;
      }
    }
  }

  .payment-container {
    margin-left: 60px;

    &__title {
      font-size: 18px;
      font-weight: 700;
    }

    &__text {
      font-size: 14px;
      font-weight: 500;

      &--link {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &__variants {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;
    }

    .variant {
      margin-top: 20px;

      &__mastercard {
        width: 40px;
        height: 40px;
        background: #f93c00;
      }

      &__visa {
        width: 70px;
        height: 40px;
        background: white;
        margin-left: 10px;
      }
    }

  }

  .download-container {
    margin-left: 60px;

    &__title {
      font-size: 18px;
      font-weight: 700;
    }

    &__market {
      width: 120px;
      height: 30px;
      border: 1px solid gainsboro;
      border-radius: 6px;
      margin-top: 15px;
      background: #f93c00;

      &:last-child {
        background: white;
      }
    }

    &__text {
      font-size: 14px;
      font-weight: 500;
    }

    &__link-text {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
