.layout {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;

  &__header {
    display: flex;
    flex-direction: column;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }

  &__footer {
    display: flex;
    flex-direction: column;
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFFFFF;
    padding: 0 0 10px 10px;

    &__title {
      font-size: 30px;
      font-weight: 500;
      margin-right: 20px
    }

    &__count {
      font-size: 14px;
      font-weight: 500;
      color: gray;
    }
  }

}
