.actionbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 14px;

  &__actions {
    display: flex;
    flex-direction: row;
  }

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 8px;
    border: none;
    background: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
  }

  &__search {
    margin-right: 18px;

  }
}
